@model SchoolBook.Models.EvaluationObservation

<form id="frmObservation">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EvaluationId)
    @Html.HiddenFor(m => m.ObserverId)
    @Html.HiddenFor(m => m.StudentId)
    @Html.HiddenFor(m => m.Date)
    <div class="field input">Título</div>
    <div>
        <input asp-for="Title" class="form-control" required />
        <i class='flaticon-warning-sign-on-a-triangular-background small-icon'></i>
    </div>
    <div class="field"></div>
    <div class="informative">
        <i class="flaticon-information-button small-icon"></i>Observación para <i>@Model.Student.Name</i>, ingresada por <i>@User.Identity.Name</i> el @Model.Date.ToString("dd 'de' MMMM 'de' yyyy") para la evaluación @Model.Evaluation.Title.
    </div>
    <div class="field">Descripción</div>
    <div class="textarea">
        <textarea asp-for="Description" class="form-control" required></textarea>
        <i class='flaticon-warning-sign-on-a-triangular-background small-icon'></i>
    </div>
    <div class="field"></div>
    <div class="footer-buttons">
        <button type="button" class="btn-secondary" onclick="cancelAddItem(this)">Cancelar</button>
        <button type="button" class="btn-primary" onclick="confirmSaving(this)">Guardar</button>
    </div>
    <confirm-action message="¿Está Seguro?" yes-title="Si" no-title="No" callback="saveForm(this, '/ClassBook/SaveObservation', getFilteredData)" />
</form>
