@model SchoolBook.ViewModels.DashboardViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Portal - " + Configuration["AppSettings:SiteTitle"];
    Layout = "../Shared/_layout.cshtml";
}

<style>
    .bulletin {
        display: grid;
        padding-right: 30px;
        margin: 20px auto;
        grid-gap: 7px;
        grid-template-columns: repeat(3, 1fr);
    }

        .bulletin .news {
            margin: 5px;
            border-radius: 2%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-size: 100%;
            background-repeat: no-repeat;
            box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, .05);
        }

            .bulletin .news .title,
            .bulletin .news .subtitle {
                box-sizing: border-box;
                background-color: #ffffffe3;
                padding: 4px 10px;
            }

            .bulletin .news .subtitle {
                font-size: 13px;
            }
</style>

<div class="content">
    <vc:class-selector></vc:class-selector>
    <div class="inner-content">
        <div>
            <h1>Informativos</h1>
        </div>
        <div class="bulletin">
            @foreach (var news in Model.News)
            {
                <div class="news" style="background-image: url(@news.Image);">
                    <div class="title">
                        @news.Title
                    </div>
                    <div class="subtitle">
                        @news.Subtitle
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <h1>Claim details</h1>
            @foreach (var claim in User.Claims)
            {
                <div><strong>. @claim.Type</strong>: @claim.Value</div>
            }
    </div>
</div>
